@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-BoldItalic.ttf") format("truetype");
}

:root {
    --couleur1a: #6565f6;
    --couleur1b: #3434a8;
    --couleur2a: #73f54c;
    --couleur2b: #56a83d;
    --couleur3: #f5a67d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: whitesmoke;
    background-color: #1e1e1e;
}

#logo {
    width: 30%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

/* TRADINGVIEW */

#bloc_tradingview {
    height: 250px;
}

/* SETTINGS BLOCS */

.settings_bloc {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    justify-content: start;
    border: 2px solid;
    border-radius: 10px;
}

.settings_bloc span {
    margin-top: -25px;
    margin-bottom: 10px;
    padding: 0 12px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    border: 2px solid;
    border-radius: 10px;
}

.settings_bloc div {
    height: 142px;
}

.settings_bloc label {
    text-align: right;
    padding-right: 5px;
}

select,
input {
    height: 26px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 4px;
}

select:focus,
input:focus {
    outline: none; /* désactive la bordure par défaut */
    box-shadow: 0 0 2px 2px var(--couleur3); /* définit une ombre colorée */
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.settings_bloc button {
    display: inline-block;
    width: 120px;
    margin: 5px;
    padding: 5px;
    border-radius: 1000px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
}

#submit_button {
    background-color: var(--couleur1b);
    border: 2px solid var(--couleur1a);
}

#submit_button:hover {
    background-color: var(--couleur1a);
    border: 2px inset var(--couleur1a);
}

#run_test_button {
    background-color: var(--couleur2b);
    border: 2px solid var(--couleur2a);
    transition-duration: 0.2s;
}

#run_test_button:hover {
    background-color: var(--couleur2a);
    border: 2px inset var(--couleur2a);
}

/* TABLEAU DE KLINES */

#bloc_klines {
    border: 2px solid var(--couleur1a);
    border-radius: 10px;
    height: 295px;
    overflow: auto;
}

#klines_table {
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    border-collapse: collapse;
}

th {
    padding: 5px;
    position: sticky;
    top: 0;
    box-shadow: inset 0 -2px 0 var(--couleur1a);
    background-color: var(--couleur1b);
}

#klines_table td {
    padding: 5px 0;
    text-align: center;
}

.lignePaire td {
    background-color: #1e1e1e;
}

.ligneImpaire td {
    background-color: #332f2e;
}

/* BLOCS PAS ENCORE TRAITÉS */

.to_do_bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--couleur1a);
    border-radius: 10px;
}

/* BLOCKLY */

#bloc_blockly {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 600px;
}

#blocklyDiv {
    height: 100%;
    width: 100%;
}

#bloc_blockly * {
    background: transparent;
}

.blocklyMainBackground {
    stroke: none;
}

.blocklyToolboxDiv {
    stroke: none;
}

.injectionDiv {
    border-radius: 9px;
}

.blocklyDropdownMenu * {
    background-color: white;
    color: #1e1e1e;
}

.blocklyMenuItem * {
    background-color: transparent;
}

thead {
    text-align: center;
}

#bloc_transactions {
    border: 2px solid var(--couleur1a);
    border-radius: 10px;
    height: 180px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#transactions_table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;
    font-size: 13px;
    border-collapse: collapse;
}

#transactions_table td {
    padding: 5px;
}

#bloc_result {
    border: 2px solid var(--couleur1a);
    border-radius: 10px;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    overflow: auto;
    line-height: 18px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.infobulle {
    background: none;
}

.infobulle:hover {
    font-style: italic;
    /* font-size: 14px; */
    font:bolder;
    z-index: 1;
    color: #71eae6;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

